<% layout("/layouts/boilerplate") %>
<body>
    <div class="errcontener">
        <p><i class="fa-solid fa-triangle-exclamation" style="color: yellow; font-size: 20px;"></i>  <%=message%></p>
    </div>
</body>
